/* universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* hero */
.hero{
    height: 100dvh;
    width: 100%;
    position: relative;
}
/* header */
.offcanvas-header{
    border-bottom: 1px solid white;
}
/* hero-content */
.content{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;

}
.content-p{
    padding-top: 80px;
}
.content-container{
    height: 100%;
    width: 100%;
    /* Fix this problem after many suffer */
    padding: 0!important;
}
.content-row{
    height: 100%;
    width: 100%;
    /* Fix this problem after many suffer */
    margin: 0!important; 
}
.content-row h1{
    font-size: 70px;
    font-weight: bold;
    color: rgb(34, 33, 33);
}

/* slider start*/
.slider-container{
    width: 100%;
    text-align: center;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container span{
    background-color: black;
    padding: 10px;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    
}
.right{
    position: absolute;
    top: 50%;
    left: 0;
}
.left{
    position: absolute;
    top: 50%;
    right: 0;
}
/* slider end */
@media screen and (max-width:992px) {
    .small-device{
        margin-top: 100px!important;
        margin-bottom: 50px!important;
    }
}
/* all page tiltle linkg */
.all-title-link:hover{
    color: orange!important;
}
/* About */
.about{
    overflow: hidden;
}
.about-row{
    padding: 150px 0;
}
.about-content{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.about-work{
    background-color: #F8F8F8;
    padding: 50px 10px;
    border-radius: 10px;
}
.about-content span{
    color: orange;
}
.skill{
    padding-top: 100px;
}
/* Client header */
.client{
    padding-top: 150px;
    font-weight: bolder;
}
.client-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid orange;
}
.client-feedback{
    padding: 30px 10px;
    background-color: #F8F8F8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
.about-client p{
    line-height: 30px;
    font-size: 1rem;
    color: rgb(53, 52, 52);
}

/* Service section */
.service-row{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 150px 0;
}
.service-card{
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    padding: 30px 10px;
    border-radius: 10px;
    text-align: center;
    transition:1s step-start;
    font-family: Arial, Helvetica, sans-serif;
}
.service-card:hover{
    background-color:rgb(216, 146, 15);
    color: white;
}
.icon-color{
    font-size:80px;
    font-weight:400;
}
.course-title{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 150px 0;

}
.course-card{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.13);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition:1s step-start;
    font-family: Arial, Helvetica, sans-serif;
}
.course-item{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.special-link{
    background-color: rgb(28, 27, 27);
    padding: 10px;
    border-radius: 7px;
}
/* contact */
.contact{
    padding: 50px;
}
.contact-link{
    margin-top: 150px;
}
.contact-extra{
    font-family:Arial, Helvetica, sans-serif ;
}
.contact-form{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.13);
    height: 600px;
}
.contact-eror{
    background-color: #E8EAED;
    height: 600px;
}
form input[type=text]{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(225, 152, 17);
    outline: none;
    margin: 10px 0;
    padding: 10px;
}
form input[type=email]{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(225, 152, 17);
    outline: none;
    padding: 10px;
    margin: 10px 0;
}
form input[type=password]{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(225, 152, 17);
    outline: none;
    padding: 10px;
    margin: 10px 0;
}
form input[type=submit]{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(225, 152, 17);
    outline: none;
    padding: 10px;
    margin: 20px 0;
    background-color: rgb(229, 157, 24);
    border-radius: 10px;
    color: white;
}
@media screen and (max-width:992px) {
    .contact{
        padding: unset;
    }
    .contact-extra{
        flex-direction: column;
    }
    .contact-form{
        height: auto;
    }
    .contact-eror{
        height: auto;
    }
}
/* Experiance */
.experience-link{
    margin-top: 150px;
}
.experiance-card{
    padding: 30px 20px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1);
}
.card-icon{
    position: absolute;
    top: -40px;
    left: 20px;
}
.card-icon i{
    font-size: 40px;
    background-color:#D5C455;
    color: white;
    padding: 15px;
    border-radius: 50%;
}
/* Blog */
.blog-link{
    margin-top: 150px;
}
.card-heading{
    font-size: 20px;
}
.card-heading:hover{
    color:#D5C455;
}
.cardbody-linke{
    color: #D5C455;
    text-decoration: none;
}
.card-p{
    color: black;
}
.card-image{
    height: 300px;
    object-fit: cover;
}
