/* universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* hero */
.hero{
    height: 100dvh;
    width: 100%;
    position: relative;
}
/* header */
.offcanvas-header{
    border-bottom: 1px solid white;
}
/* hero-content */
.content{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;

}
.content-p{
    padding-top: 80px;
}
.content-container{
    height: 100%;
    width: 100%;
    /* Fix this problem after many suffer */
    padding: 0!important;
}
.content-row{
    height: 100%;
    width: 100%;
    /* Fix this problem after many suffer */
    margin: 0!important; 
}
.content-row h1{
    font-size: 70px;
    font-weight: bold;
    color: rgb(34, 33, 33);
}
.border-black{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.border-black img{
    margin-top: 20px;
    overflow: hidden;
}
@media screen and (max-width:575px) {
    .border-black{
        padding: 0!important;
    }
    .border-black img{
        margin: 0!important;
    }
}
@media screen and (max-width:992px) {
    .small-device{
        margin-top: 100px!important;
        margin-bottom: 50px!important;
    }
}
/* About */
.about-row{
    height: 400px;
}
@media screen and (max-width:992px) {
    .about-row{
        height: 300px;
    }
}
.title-link:hover{
    color: orange!important;
}
.about-me{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.work{
    background-color: #F8F8F8;
    padding: 50px 10px;
    border-radius: 10px;
}
.about-me span{
    color: orange;
}
.skill{
    padding-top: 150px;
    font-weight: bolder;
}
@media screen and (max-width:992px) {
    .skill{
        padding-top: 50px;
    }
}
.guest{
    padding-top: 150px;
    font-weight: bolder;
}
@media screen and (max-width:992px) {
    .guest{
        padding-top: 50px;
    }
}
.guest-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid orange;
}
.guest-feedback{
    padding: 30px;
    background-color: #F8F8F8;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

/* Service section */
.service-row{
    height: 400px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:992px) {
    .service-row{
        height: 300px;
    }
}
.service-work{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.13);
    padding: 30px 10px;
    border-radius: 10px;
    text-align: center;
    transition:1s step-start;
    font-family: Arial, Helvetica, sans-serif;
}
.service-work:hover{
    background-color:rgb(216, 146, 15);
    color: white;
}
.icon-color{
    font-size:80px;
    font-weight:400;
}
.paidwork-title{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 150px 0;

}
.pricing-card{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.13);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition:1s step-start;
    font-family: Arial, Helvetica, sans-serif;
}
.pricing-sub{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.special-link{
    background-color: rgb(28, 27, 27);
    padding: 10px;
    border-radius: 7px;
}
/* contact */
.contact{
    padding: 50px;
}
.contact-link{
    margin-top: 150px;
}
.contact-extra{
    font-family:Arial, Helvetica, sans-serif ;
}
.contact-form{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.13);
    height: 600px;
}
.contact-eror{
    background-color: #E8EAED;
    height: 600px;
}
form input[type=text]{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(225, 152, 17);
    outline: none;
    margin: 10px 0;
    padding: 10px;
}
form input[type=email]{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(225, 152, 17);
    outline: none;
    padding: 10px;
    margin: 10px 0;
}
form input[type=password]{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(225, 152, 17);
    outline: none;
    padding: 10px;
    margin: 10px 0;
}
form input[type=submit]{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(225, 152, 17);
    outline: none;
    padding: 10px;
    margin: 20px 0;
    background-color: rgb(229, 157, 24);
    border-radius: 10px;
    color: white;
}
@media screen and (max-width:992px) {
    .contact{
        padding: unset;
    }
    .contact-extra{
        flex-direction: column;
    }
    .contact-form{
        height: auto;
    }
    .contact-eror{
        height: auto;
    }
}
/* Experiance */
.experience-link{
    margin-top: 150px;
}
.experiance-card{
    padding: 30px 20px;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.13);
}
.card-icon{
    position: absolute;
    top: -40px;
    left: 20px;
}
.card-icon i{
    font-size: 40px;
    background-color:#D5C455;
    color: white;
    padding: 15px;
    border-radius: 50%;
}
.experiance-p{
    font-size: 16px;
    line-height: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* Blog */
.blog-link{
    margin-top: 150px;
}
.card-heading{
    font-size: 20px;
}
.card-heading:hover{
    color:#D5C455;
}
.cardbody-linke{
    color: #D5C455;
    text-decoration: none;
}
.card-p{
    color: black;
}
.card-image{
    height: 300px;
    object-fit: cover;
}